body {
    background: linear-gradient(to right, #006EF5, #181A9D);
    background-position: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23pt;
    color: white;
}

p {
    font-size: 40pt;
}

.title {
    width: 1230px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 40px;
    margin-top: 100px;
   border: 10px solid white;
   border-radius: 5px; 
   padding-left: 60px;
}

.homerseklet {
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid white;
    border-radius: 5px;
    width: 400px; 
    height: 300px;
    margin-right: 100px;
    margin-top: 60px;
}

.homerseklet p {
    text-align: center;
}

.title img {
    float: right; 
    margin-right: 80px;
    margin-top: 15px;
}

.mainDiv {
    width: 850px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    margin-left: 100px;
    display: block;
    border: 10px solid white;
    border-radius: 5px; 
}

.mainDiv p{
    margin-bottom: 10px;
    margin-left: 45px;
}

#inputForm {
    width: 500px;
    height: 60px;
    margin-top: 0px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40pt;
    color: black;
    padding-left: 20px;
}

#inputGomb {
    width: 200px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 32pt;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
}

#inputGomb:hover {
    font-weight: bold;
}

table {
    height: 300px;
    width: 400px;
}

tr {
    height: 100px;
}

td {
    font-size: 24pt;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.dataDesc {
    text-align: left;

}

#TempDesc {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

#errorAlert {
    font-size: 20pt;
    color: red;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 0px;
}