<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="title">
        <img src="static/images/titleIcon.ico" alt="">
        <h1>What's the temperature right now?</h1>
    </div>
    <div class="homerseklet">
        <table>
            <tr>
                <td class="dataDesc">Description:</td>
                <td id="DescDesc">{{descy}}</td>
            </tr>
            <tr>
                <td class="dataDesc" id="TempDesc">Temperature:</td>
                <td id="TempDesc">{{therm}}</td>
            </tr>
            <tr>
                <td class="dataDesc">Wind:</td>
                <td id="WindDesc">{{windy}}</td>
            </tr>
        </table>
    </div>
    <div class="mainDiv">
        <form action="#" method="post">
            <p>Enter the name of the city:</p>
            <p><input type="text" name="nm" id="inputForm" value=''>
            <input type="submit" value="Submit" id="inputGomb"></p>
            <p id="errorAlert">{{error_alert}}</p>
        </form>
    </div>
</body>
</html>
