<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="title">
        <img src="static/images/titleIcon.ico" alt="">
        <h1>What's the temperature right now?</h1>
    </div>
    <div class="homerseklet">
        <p>{{therm}}</p>
    </div>
    <div class="mainDiv">
        <form action="#" method="post">
            <p>Enter the name of the city:</p>
            <p><input type="text" name="nm" id="inputForm" value={{place}}>
            <input type="submit" value="Submit" id="inputGomb"></p>
        </form>
    </div>
</body>
</html>
